#clock{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw; 
    background: url(clock.png) no-repeat;
    background-size: 100%;
}
#hour,#min,#sec{
    background-color: black;
    position: absolute;
    
    border-radius: 10px; 
    transform-origin: bottom;
}
#hour{
    background-color: black;
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
      
}
#min{
    background-color: red;
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
      
}
#sec{
    background-color: green;
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
     
    
}